/*VARIABLES*/
  :root {
    /*colors*/
    --purple-dark: #4A3A6B;   
    --purple-light: #a47dab;  
    --pink: #f4aaff;           
    --blue: #0ba7bc;           
    --cream: #f7f0e7;
    
    /*fonts*/
    --font-heading: "Google Sans Code", sans-serif; /*linked*/
    --font-bold: "Bowlby One SC", sans-serif; /*linked*/
    --font-code: 'NineByFiveNBP', monospace; /*downloaded*/
  }

@font-face {
  font-family: 'NineByFiveNBP';
  src: url('./assets/fonts/NineByFiveNBP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*BACKGROUND DOTS*/
  body {
    background-color: #f7f0e7;
    background-image: radial-gradient(circle,rgba(201, 127, 212, 0.7) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: moveDots 4s linear infinite;
  }

  @keyframes moveDots {
    from { background-position: 0 0; }
    to { background-position: 24px 24px; }
  }




  
p, h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--purple-dark);

}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  color: var(--purple-light);
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.nine {
  font-family: var(--font-code);
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 36px;
  padding-left: 1rem;
  border-left: 2px solid var(--purple-light);
  
  color: var(--purple-light);
}