/*VARIABLES*/
  :root {
    /*colors*/
    --purple-dark: #4A3A6B;   
    --purple-light: #C97FD4;  
    --pink: #f4aaff;           
    --mint: #c5f0ff;           
    --white: #FFFFFF;
    
    /*fonts*/
    --font-heading: "Google Sans Code", sans-serif;
    --font-bold: "Bowlby One SC", sans-serif;
    --font-code: 'NineByFiveNBP', monospace;        
  }

@font-face {
  font-family: 'NineByFiveNBP';
  src: url('./assets/fonts/NineByFiveNBP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*BACKGROUND DOTS*/
  body {
    background-color: #4A3A6B;
    background-image: radial-gradient(circle, #C97FD4 1px, transparent 1px);
    background-size: 40px 40px;
    animation: moveDots 4s linear infinite;
  }

  @keyframes moveDots {
    from { background-position: 0 0; }
    to { background-position: 24px 24px; }
  }

  body {
    background-color: #FAF7F2;
  }

p, h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--purple-dark);

}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.nine {
  font-family: var(--font-code);
  font-weight: normal;
  font-size: 36px;
}